.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@font-face {
  font-family: linkFont;
  src: url("bernie-san.com/mini-jian-caocuyuan.ttf");
}

a {
  text-align: center;
  font-family: fantasy;
}
