html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.form-input {
  display: block;
  width: 50vw;
  height: 3vh;
  font-size: Medium;
}


.product {
  height: 66vh;
}

.overlay {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.next-button {
  position: absolute;
  top: 33%;
  height: 8vh;
  width: auto;
}

.button-left {
    left: 15%;
}

.button-right {
    right: 15%;
}

.centered {
  display: inline-block;

}

.text-centered {
  text-align: center;
}

.padded {
  padding: 20px;
}

.centered-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pinkbox {
  border: 3px solid hotpink;
}

.pinkbox-small {
  width: 35vmin;
  height: 95vmin;
}

.pinkbox-large {
  width: 80vw;
}

.icon-square {
  width:27vmin;
  height:27vmin;
}


@font-face {
  font-family: 'jian';
  src: url('mini-jian-caocuyuan.ttf') format('truetype');
}

a {
  text-align: center;
  font-family: jian;
  color: hotpink;
  font-size: 30px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
